<!DOCTYPE html>
<html class="page" lang="ua">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orthopedics</title>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/tailwind.css">
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://cdn.tailwindcss.com" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" defer></script>
    <script type="module" src="./scripts/app.js" defer></script>
  </head>
  <body class="page__body" x-data="{mouseX: 0,mouseY: 0,isShowToUp: false,isShowBurgerMenu: false,isShowPopUpContact: false,isShowPopUpContent: false,currentHook: '',contentType: '',contentSrc: '',isTablet: false,isPhone: false,}" x-init="setTimeout(() =&gt; {isTablet = (window.innerWidth &lt; 992);isPhone = (window.innerWidth &lt; 576);}, 0)" @mousemove="mouseX = $event.clientX; mouseY = $event.clientY;" @scroll.debounce.window="isShowToUp = window.scrollY &gt;= 800; currentHook = window.location.hash" @resize.debounce.window="setTimeout(() =&gt; {isTablet = (window.innerWidth &lt; 992);isPhone = (window.innerWidth &lt; 576);}, 0)" x-cloak :class="{'page__body--stop-scroll': isShowPopUpContact || isShowBurgerMenu || isShowPopUpContent }">
    <div class="page__wrapper">
      <template x-if="isShowBurgerMenu">
        <div class="burger-menu" x-data="{ currentAnchor: '', isClosedBurgerMenu: true }" x-init="setTimeout(() =&gt; {isClosedBurgerMenu=false}, 1)" @scroll.debounce.window="currentAnchor = window.location.hash" :class="{'burger-menu--closed': isClosedBurgerMenu}">
          <div class="burger-menu__menu">
            <div class="burger-menu__menu__header">
              <div class="logo" style="width: 182px;"><a href="main.html"><img src="./images/icons/logo.svg" alt="logo"/></a></div>
              <button class="contacts-menu__button contacts-menu__button--close" type="button" @click="isClosedBurgerMenu=true" x-on:click="setTimeout(() =&gt; {isShowBurgerMenu = false}, 500)">
                <div class="contacts-menu__button__image"></div>
              </button>
            </div>
            <hr class="_anim-items _transition-clip-form-left" style="margin-bottom: 25px;"/><a class="link" href="all_courses.html" style="margin-bottom: 25px;">
              <div class="link__text">Навчання</div>
              <div class="link__image">
                <div class="icon"><svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M22.4497 12.0503L12.5503 21.9498M22.4497 12.0503V20.5355M22.4497 12.0503H13.9645" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                </div>
              </div></a>
            <ul style="display: grid; grid-template-columns: repeat(2,1fr); margin-bottom: 15px; gap: 10px;">
              <li class="navigation__item" :class="{'navigation__item--active': currentAnchor === '#about_company'}" style="width: max-content;"><a class="navigation__link" style="line-height: 100%; padding-bottom: 15px;" href="#about_company" @click="() =&gt; {currentAnchor = '#about_company'; isClosedBurgerMenu=true;}" x-on:click="setTimeout(() =&gt; {isShowBurgerMenu = false}, 500)">Про компанію</a></li>
              <li class="navigation__item" :class="{'navigation__item--active': currentAnchor === '#services'}" style="width: max-content;"><a class="navigation__link" style="line-height: 100%; padding-bottom: 15px;" href="#services" @click="() =&gt; {currentAnchor = '#services'; isClosedBurgerMenu=true;}" x-on:click="setTimeout(() =&gt; {isShowBurgerMenu = false}, 500)">Усі послуги</a></li>
              <li class="navigation__item" :class="{'navigation__item--active': currentAnchor === '#reviews'}" style="width: max-content;"><a class="navigation__link" style="line-height: 100%; padding-bottom: 15px;" href="#reviews" @click="() =&gt; {currentAnchor = '#reviews'; isClosedBurgerMenu=true;}" x-on:click="setTimeout(() =&gt; {isShowBurgerMenu = false}, 500)">Відгуки</a></li>
            </ul>
            <p style="margin-bottom: 25px;">Поглиблені персональнi консультації з нутриціології, якi допоможуть вам досягти витриманого здоров'я та життєвої енергії</p>
            <button class="button--only-text button" type="button" style="margin-bottom: 40px;" @click="isShowPopUpContact=true;">
              <p class="button__text">Зв'язатися зі мною</p>
            </button>
            <h3 style="margin-bottom: 25px; font-size: 18px;">Давайте дружити</h3>
            <div class="social-list" style="margin-bottom: 20px;"><a class="social-link" href="#" target="_blank" rel="noopener noreferrer"><img src="./images/icons/light__social-facebook_.svg" alt="facebook"/></a><a class="social-link" href="#" target="_blank" rel="noopener noreferrer"><img src="./images/icons/light__social-instagram_.svg" alt="instagram"/></a><a class="social-link" href="#" target="_blank" rel="noopener noreferrer"><img src="./images/icons/light__social-youtube_.svg" alt="youtube"/></a>
            </div>
            <hr class="_anim-items _transition-clip-form-left" style="margin-bottom: 25px;"/>
            <div>Розробка сайту: <a href="https://www.instagram.com/boris__kruglov/" style="text-decoration: underline; font-weight: 500;">kruglov.design</a></div>
          </div>
        </div>
      </template>
      <template x-if="isShowPopUpContact">
        <div class="pop-up" x-data="{ isClosedPopUp: true }" x-init="setTimeout(() =&gt; {isClosedPopUp=false}, 1)" @scroll.debounce.window="currentAnchor = window.location.hash" :class="{'pop-up--closed': isClosedPopUp, 'pop-up--fixed': false}">
          <div class="pop-up__button">
            <button class="contacts-menu__button contacts-menu__button--close" type="button" @click="isClosedPopUp=true" x-on:click="setTimeout(() =&gt; {isShowPopUpContact = false}, 500)">
              <div class="contacts-menu__button__image"></div>
            </button>
          </div>
          <div class="pop-up__content">
            <section class="section-contact-me _grid decor-shadow-gradient _fix-hook" id="contants" style="margin-bottom: 40px">
              <template x-if="!isTablet">
                <div class="screen">
                  <div class="screen__container">
                    <div class="_no-event screen-desk-↓">
                      <div style="transform: scale(1.25) translate(-170px, 50px) rotate(27deg)"><img class="at-ramdom-rotate-2" src="./images/decor/ingir.png" alt="least"/></div>
                    </div>
                  </div>
                </div>
              </template>
              <div class="section-contact-me__decor _fix-for-decor _grid-col-desk-2-2 _grid-col-lab-1-1 _grid-col-phone-1-2 _place-lab-↗ _place-phone-c">
                <div class="decor decor--big _anim-items _anim-once __transition-left">
                  <div class="decor__image"><img class="decor__image__photo" src="./images/photos/self_12.jpg" alt="photo"/><img class="decor__image__decor" src="./images/decor/decore_3.jpg" alt="photo"/></div>
                </div>
                <div class="short-contacts">
                  <h2 class="short-contacts__name">Світлана Олійник</h2>
                  <div class="short-contacts__links">
                    <div class="short-contacts__link"><img src="./images/icons/email.svg"/><a href="mailto:#">#</a></div>
                    <div class="short-contacts__link"><img src="./images/icons/phone.svg"/><a href="tel:+38 095 120 75 75">+38 095 120 75 75</a></div>
                  </div>
                </div>
              </div>
              <div class="_grid-col-desk-4-5 _grid-col-lab-3-3 _grid-col-tab-2-2 _grid-col-phone-1-2 _place-lab-↖ _place-phone-c">
                <form class="_flex _flex-col" action="#" method="get" style="gap: 66px;">
                  <div class="title  title--second title--font-family">
                    <p class="title__text">Зв'язатися зі мною</p>
                    <div class="title__container">
                      <h2 class="title__main-text">З будь-яких питань пов'язаних з вашим здоров'ям та його поліпшенням я з радістю готова вам допомогти і буду рада, якщо ваше життя стане кращим</h2>
                    </div>
                  </div>
                  <div class="_flex _flex-col" style="gap: 45px;">
                    <div class="input">
                      <label class="input__lable" for="name">Як вас звати? *</label>
                      <input class="input__input" id="name" type="text" name="name" required="required"/>
                    </div>
                    <div class="input">
                      <label class="input__lable" for="phone" title="напишіть ваш номер в такому форматі: 380501234567">Який ваш номер телфону? *</label>
                      <input class="input__input" id="phone" type="tel" name="phone" pattern="[0-9]{12}" required="required"/>
                    </div>
                    <div class="input">
                      <label class="input__lable" for="email">Яка ваша пошта?</label>
                      <input class="input__input" id="email" type="email" name="email"/>
                    </div>
                    <button class="button-circle _anim-items _animation-bounce" type="submit" style="align-self: center;">
                      <div class="button-circle__container">
                        <div class="button-circle__text"><span>Записатися</span></div><img class="button-circle__image" src="./images/icons/tabler_arrow-up-2.svg" alt="arrow"/>
                      </div>
                    </button>
                  </div>
                </form>
              </div>
            </section>
            <div></div>
          </div>
        </div>
      </template>
      <template x-if="isShowPopUpContent">
        <div class="pop-up" x-data="{ isClosedPopUp: true }" x-init="setTimeout(() =&gt; {isClosedPopUp=false}, 1)" @scroll.debounce.window="currentAnchor = window.location.hash" :class="{'pop-up--closed': isClosedPopUp, 'pop-up--fixed': true}">
          <div class="pop-up__button">
            <button class="contacts-menu__button contacts-menu__button--close" type="button" @click="isClosedPopUp=true" x-on:click="setTimeout(() =&gt; {isShowPopUpContent = false}, 500)">
              <div class="contacts-menu__button__image"></div>
            </button>
          </div>
          <div class="pop-up__content">
            <section class="section-modal">
              <div class="section-modal__container">
                <div class="section-modal__bg"></div>
                <div class="section-modal__screen"><img class="section-modal__content" x-show="contentType==='image'" :src="contentSrc" alt="image"/>
                  <video class="section-modal__content" x-show="contentType==='video'" :src="contentSrc" autoplay="autoplay" controls="controls"></video>
                </div>
              </div>
            </section>
          </div>
        </div>
      </template>
      <header class="page__header">
        <div class="header">
          <div class="header__logo">
            <div class="logo"><a href="main.html"><img src="./images/icons/logo.svg" alt="logo"/></a></div>
          </div>
          <div class="_grid-col-desk-2-2" style="display: flex; justify-content: center; align-items: center; height: 100%; padding-block: 17px;">
            <div style="width: 1px; height: 100%; background: var(--text-talee-title); opacity: 0.3;"></div>
          </div>
          <div class="_grid-col-desk-3-3">
            <div class="short-contacts__links">
              <div class="short-contacts__link"><img src="./images/icons/location.svg"/><a href="https://maps.app.goo.gl/yshKEwuENadzYZaSA" target="_blanck">м. Дніпро, вул. Троїцька, 21Г</a></div>
              <div class="short-contacts__link short-contacts__link--bold"><img src="./images/icons/phone_.svg"/><a href="tel:+38 095 120 75 75">+38 095 120 75 75</a></div>
            </div>
          </div>
          <div class="_grid-col-desk-4-5" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="header__navigation">
              <nav class="navigation">
                <ul class="navigation__list">
                  <li class="navigation__item" :class="{'navigation__item--active': currentHook === '#about_company'}"><a class="navigation__link" href="#about_company" @click="currentHook = '#about_company'">Про компанію</a></li>
                  <li class="navigation__item" :class="{'navigation__item--active': currentHook === '#services'}"><a class="navigation__link" href="#services" @click="currentHook = '#services'">Усі послуги</a></li>
                  <li class="navigation__item" :class="{'navigation__item--active': currentHook === '#reviews'}"><a class="navigation__link" href="#reviews" @click="currentHook = '#reviews'">Відгуки</a></li>
                </ul>
              </nav>
            </div>
            <div style="display: flex; gap: 20px;">
              <div style="width: 48px; height: 48px; display: flex; justify-content: center; align-items: center;"><img src="./images/icons/search_.svg" alt="search"/></div>
              <div class="mini-button"><img src="./images/icons/instagram-icon-gray.svg" alt="instagram"/></div>
            </div>
          </div>
          <div class="_grid-col-desk-6-6" style="display: flex; justify-content: end; gap: 20px; padding-left: 38px;">
            <button class="button--only-text button" type="button" @click="isShowPopUpContact=true;">
              <p class="button__text">ЗВ'ЯЗАТИСЯ</p>
            </button>
            <button class="button-menu" @click="isShowBurgerMenu=true"><img src="./images/icons/menu.svg" alt="menu"/></button>
          </div>
        </div>
      </header>
      <main class="page__main">
      </main>
      <div class="page__menu">
        <template x-if="!isShowPopUpContact &amp;&amp; !isShowBurgerMenu &amp;&amp; !isShowPopUpContent">
          <div class="page__menu__container">
            <div class="contacts-menu" x-data="{ hidden: true }" @click.outside="hidden = true">
              <div class="contacts-menu__container" x-cloak="x-cloak" :class="{'contacts-menu__container--hidden': hidden}">
                <div class="contacts-menu__item"> <a class="button-icon" target="_blank" href="#"><img src="./images/icons/social-telegram.svg" alt="telegram-logo"/></a></div>
                <div class="contacts-menu__item"> <a class="button-icon" target="_blank" href="#"><img src="./images/icons/social-telegram.svg" alt="telegram-logo"/></a></div>
                <div class="contacts-menu__item"> <a class="button-icon" target="_blank" href="#"><img src="./images/icons/social-telegram.svg" alt="telegram-logo"/></a></div>
                <div class="contacts-menu__item"> <a class="button-icon" target="_blank" href="#"><img src="./images/icons/social-telegram.svg" alt="telegram-logo"/></a></div>
              </div>
              <button class="contacts-menu__button" type="button" @click="hidden = !hidden" :class="{'contacts-menu__button--close': !hidden}">
                <div class="contacts-menu__button__image"></div>
              </button>
            </div><a class="to-up" href="#" :class="{'to-up--close': !isShowToUp}"><img class="to-up__image" src="./images/icons/arrow-to-up_.svg" alt="to-up icon"></a>
          </div>
        </template>
      </div>
      <footer class="page__footer">
        <div></div>
      </footer>
    </div>
  </body>
</html>